.page-header {
  width: 100vw;
  height: 40vh;
}

.page-title {
  display: block;
  font-size: 2.5rem;
  color: #ffffff;
  margin-top: auto;
  align-self: center;
  position:absolute;
  top: 20vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.page-content {
  padding: 5vh 5vw 0 5vw;
}

.page-content a {
  color: #1ac6ff;
}

.page-content a:visited {
  color: #1ac6ff;
}

.page-content a:hover {
  color: #1ac6ff;
}